.activity {
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}

.activity img {
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}

.activity-info {
    margin: 0 14px;
}

.activity p {
    margin-bottom: 0px;
    margin-top: 5px;
}

.activity-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    margin-top: 7px;
}

.btn-cart {
    width: 100%;
    height: 35px;
    background-color: #6d9bc3;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cart .btn-text {
    font-size: 18px;
    font-weight: 500;
}

.btn-cart:hover {
    color: white;
    background-color: #0783b8;
    cursor: pointer;
}