.cart {
    position: sticky;
    top: 0px;
}

.person-info {
    display: flex;
    align-items: center;
}

.cart-image {
    width: 80px;
}

.person-name {
    margin-left: 10px;
}

.person-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 5px 5px 20px gray;
    border-radius: 20px;
    margin: 30px 0px;
    text-align: center;
}

.details-numbers {
    font-size: 25px;
    font-weight: 500;
}

.details-info {
    font-size: 18px;
}

.break-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 8px;
    box-shadow: 5px 5px 20px gray;
    border-radius: 10px;
    text-align: center;
}

.exercise-container {
    margin-top: 50px;
}

.exercise-time,
.break-time {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 5px 5px 15px gray;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 25px;
}

.btn-activity {
    margin-top: 30px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #6d9bc3;
}

.btn-activity:hover {
    color: white;
    background-color: #0783b8;
    cursor: pointer;
}

.btn-activity-text {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}